.b-props {
    margin-bottom: 10px;
}
.show_all {
    text-decoration: underline;
    cursor: pointer;
    color: #000;
}
.hidden_prop {
    display: none;
}
.full_descr_text {
    display: none;
}
.availability_in_stores {
    margin-bottom: 10px;
    display: flex;
}
.description_on_left_sidebar_cart {
    margin-bottom: 10px;
}
.availability_show {
    margin-left: 5px;
}
.availability_in_stores_content {
    margin-left: 5px;
    display: none;
}
.sect-reviews {
    padding-top: 50px;
    border-top: 1px solid #e9e9e9;
}
.review-title {
    font-family: Arial, sans-serif;
    font-size: 25px;
    color: #000;
}
.reviews-items {
    display: flex;
    justify-content: space-between;
}
.r-item {
    width: 50%;
}
.product-accordion-tabs {
    display: none;
}
.product-info-noborder {
    border-left: 0px!important;
}
.social_title {
    font-family: Arial, sans-serif;
    font-size: 25px;
    color: #000;
}
.inline-block-item.social_title {
    margin-right: 20px;
    padding-top: 5px;
    font-family: Arial, sans-serif;
    font-size: 25px;
    color: #000;
}
.inner-container.product-container.product-detail-container {
    margin-bottom: 0px;
}
.inner-container .product-info.product-info-noborder {
    display: block;
}
.flex-size-chart {
    display: flex;
}
.size_chart {
    color: #000;
    padding-top: 20px;
    margin-left: 15px;
    position: relative;
}
.size-chart-title {
    position: relative;
    top: -6px;
    left: 5px;
}


.popup-fade {
    display: none;
}
.popup-fade:before {
    content: '';
    background: #000;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0.7;
    z-index: 9999;
}
.popup {
    position: fixed;
    top: 4%;
    left: 40%;
    padding: 20px;
    width: auto;
    height: 90vh;
    background: #fff;
    border-radius: 4px;
    z-index: 99999;
    opacity: 1;
}
.popup-close {
    position: absolute;
    top: 10px;
    right: 10px;
}
.popup-open {
    cursor: pointer;
}
.img-size-chart {
    width: 100%;
    height: 100%;
}
.product-seeit .product-seeit {
    border-top: 0px;
}
.margin-bottom-60 {
    margin-bottom: 60px!important;
}
.product-seeit .name.display_seeit_none {
    margin-bottom: -5px;
}
.similar_products .price {
    display: none;
}
.similar_products.product-seeit .name.display_seeit_none {
    display: none;
}