.hidden_text_on_main_page_content {
    position: relative;
    height: 136px;
    overflow: hidden;
}
.hidden_text_on_main_page_content:after {
    content: '';
    position: absolute;
    width: 100%;
    height: 35px;
    background: -webkit-gradient(linear,left top,left bottom,from(rgba(255,255,255,0)),to(#fff));
    background: linear-gradient(rgba(255,255,255,0),#fff);
    bottom: 0px;
    left: 0;
    z-index: 5;
}
.hidden_text_on_main_page_content.opened:after {
    bottom: 0px;
}
.hidden_text_on_main_page_content.opened {
    height: auto;
}
.show_hidden_text_on_main_page {
    color: #42413c;
    font-size: 18px;
    cursor: pointer;
    border-bottom: 1px dashed;
}
/*
.float-left-bottom-menu {
    float: left;
}*/
.cg-col-4 {
    width: calc(16.666666666666664% - .5rem);
    float: left;
    margin-right: .5rem;
}
.bottom-menu-catalog-menu ul {
    list-style: none;
}
.bottom-menu-catalog-menu ul li {
    padding-right: 1.875rem;
    font-size: .9375rem;
}
.bottom-menu-catalog-menu li {
    padding-right: 1.875rem;
    font-size: .9375rem;
}

.bottom-menu-catalog-menu {
    -webkit-columns: 200px 4;
    -moz-columns: 200px 4;
    columns: 200px 4;
    -webkit-column-gap: 30px;
    -moz-column-gap: 30px;
    column-gap: 30px;
}
.footer-main .footer-main-menu ul {
    list-style: none;
}
.bottom-menu-catalog-menu a:hover {
    text-decoration: underline;
}
.footer-main .footer-main-menu .bottom-menu-catalog-menu ul {
    margin-left: 10px;
}
/*.footer-main .footer-main-menu .bottom-menu-catalog-menu {
    height: 200px;
    overflow: hidden;
}*/
.inline-block-container.bottom-menu-catalog-menu.float-left-bottom-menu {
    margin-bottom: 20px;
}
.footer-main .footer-main-menu .bottom-menu-catalog-menu.opened {
    height: auto;
}
.show_all_bottom_menu {
    margin-bottom: 20px;
    display: block;
    border-bottom: 1px dashed;
    width: max-content;
    cursor: pointer;
    font-weight: bold;
}


ul.top_menu {
    margin: 0; /* Обнуляем значение отступов */
    padding: 4px; /* Значение полей */
}
ul.top_menu li {
    display: inline; /* Отображать как строчный элемент */
    padding: 5px; /* Поля вокруг текста */
    font-size: 14px;
}
ul.top_menu {
    max-width: 1150px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    overflow: hidden;
    height: 30px;
    float: left;
    margin-bottom: 20px;
}
.burger-main-menu {
    margin-top: 10px;
    margin-left: 15px;
}
ul.top_menu .top_child {
    display: none;
    justify-content: center;
    position: absolute;
    width: 100%;
    background-color: #fff;
    top: 170px;
    z-index: 100;
    left: 0px;
    padding-top: 15px;
    min-height: 390px;
}
ul.top_menu li:hover .top_child {
    display: flex;
}
ul.top_menu li a:hover {
    text-decoration: underline;
}
.top_menu .top_child ul li {
    display: inherit;
}
.top_child:hover {
    display: block;
}
.top_child ul {
    -webkit-columns: 50px 2;
    -moz-columns: 50px 2;
    columns: 50px 2;
    -webkit-column-gap: 10px;
    -moz-column-gap: 10px;
    column-gap: 10px;
}
.top_menu [data-special]::after {
    content: attr(data-special);
    display: block;
    position: absolute;
    font-size: 170px;
    left: 10%;
    bottom: 20px;
    font-weight: bold;
    color: #eceeef;
    z-index: -1;
    line-height: 150px;
}
.b-hidden-menu {
    display: none;
}
.b-main_menu_top {
    padding-top: 15px;
}
.main-menu-right-button {
    position: relative;
    display: inline-block;
}
.b-hidden-menu {
    position: absolute;
    /* right: 90px; */
    z-index: 10;
    background-color: #fff;
    padding-right: 10px;
    padding-top: 13px;
    width: 170px;
}
.b-hidden-menu ul {
    list-style: none;
    background-color: #fff;
    padding-right: 10px;
    padding-top: 13px;
}
.main-menu-right-button:hover .b-hidden-menu {
    display: block;
}
.b-hidden-menu .top_child .container.row {
    display: none;
}
.bottom-menu-catalog-menu ul li a {
    color: #43413d;
    font-size: 13px;
}
.top_child ul {
    margin-left: 5px;
    display: block;
    width: 40%;
    float: left;
}
.header-main-menu .container.row {
    padding-left: 0px;
    padding-right: 0px;
}
.b-banner-inside-product {
    display: flex;
    justify-content: space-between;
    padding-right: 16px;
}

@media screen and (max-width: 1237px) {
    .b-banner-inside-product .b-banner-inside-product_item img {
        width: 98%
    }
}
@media screen and (max-width: 576px) {
    .b-banner-inside-product .b-banner-inside-product_item:last-child {
        display: none;
    }
    .b-banner-inside-product .b-banner-inside-product_item img {
        width: 100%
    }
}
@media screen and (max-width: 767px) {
    header .header-logo.inline-block-item {
        margin-left: 15%;
    }
}
.mobile-menu .menu a:after {

}

.menu.vertical li .is_arrow_for_open_child span {
    top: .1875rem;
    -webkit-transform: rotate(
            135deg
    );
    transform: rotate(
            135deg
    );
}
.menu.vertical li .is_arrow_for_open_child.active span {
    border-left: 1px solid #42403c;
    border-bottom: 1px solid #42403c;
}
.menu.vertical li .is_arrow_for_open_child span.active {
    top: .1875rem;
    -webkit-transform: rotate(
            135deg
    );
    transform: rotate(
            135deg
    );
}
.menu.vertical li .is_arrow_for_open_child span {
    margin-left: 10px;
    position: relative;
    top: -.125rem;
    display: inline-block;
    margin-top: .3125rem;
    margin-right: .6875rem;
    width: 9px;
    height: 9px;
    border-left: 1px solid #fff;
    border-bottom: 1px solid #fff;
    -webkit-transform: rotate(
            -45deg
    );
    transform: rotate(
            -45deg
    );
}
ul.child_menu_mobile {
    margin-left: 0px;
    display: none;
}
.vertical.menu .is-drilldown-submenu .child_menu_mobile li.active a {
    background-color: #afafb0;
}
.vertical.menu .is-drilldown-submenu .child_menu_mobile li.active {
    overflow: hidden;
}
.vertical.menu .is-drilldown-submenu .child_menu_mobile {
    background-color: #afafb0;
}
/*@media screen and (max-width: 517px) {
    .main-product-tabs .container {
        width: 100%;
    }
}
@media screen and (max-width: 499px) {
    .main-product-tabs .container {
        width: 100%;
    }
    .products-flex-grid .products-flex-item {
        width: 150px;
    }
}*/
/*
.product-grid .item .img-wrap {
    margin-right: 25px;
}*/

.bx_order_make .cart-container-pay form input[type=submit] {
    float: none;
}
.bx_order_make .cart-footer .button {
    float: none;
}
.sale-paysystem-wrapper form {
    text-align: center;
}
.cart-footer {
    text-align: center;
}