.hidden_text_on_main_page_content {
    position: relative;
    height: 136px;
    overflow: hidden;
}
.hidden_text_on_main_page_content:after {
    content: '';
    position: absolute;
    width: 100%;
    height: 35px;
    background: -webkit-gradient(linear,left top,left bottom,from(rgba(255,255,255,0)),to(#fff));
    background: linear-gradient(rgba(255,255,255,0),#fff);
    bottom: 0px;
    left: 0;
    z-index: 5;
}
.hidden_text_on_main_page_content.opened:after {
    bottom: 0px;
}
.hidden_text_on_main_page_content.opened {
    height: auto;
}
.show_hidden_text_on_main_page {
    color: #42413c;
    font-size: 18px;
    cursor: pointer;
    border-bottom: 1px dashed;
}
/*
.float-left-bottom-menu {
    float: left;
}*/
.cg-col-4 {
    width: calc(16.666666666666664% - .5rem);
    float: left;
    margin-right: .5rem;
}
.bottom-menu-catalog-menu ul {
    list-style: none;
}
.bottom-menu-catalog-menu ul li {
    padding-right: 1.875rem;
    font-size: .9375rem;
}
.bottom-menu-catalog-menu li {
    padding-right: 1.875rem;
    font-size: .9375rem;
}

.bottom-menu-catalog-menu {
    -webkit-columns: 200px 4;
    -moz-columns: 200px 4;
    columns: 200px 4;
    -webkit-column-gap: 30px;
    -moz-column-gap: 30px;
    column-gap: 30px;
}
.footer-main .footer-main-menu ul {
    list-style: none;
}
.bottom-menu-catalog-menu a:hover {
    text-decoration: underline;
}
.footer-main .footer-main-menu .bottom-menu-catalog-menu ul {
    margin-left: 10px;
}
.footer-main .footer-main-menu .bottom-menu-catalog-menu {
    height: 200px;
    overflow: hidden;
}
.footer-main .footer-main-menu .bottom-menu-catalog-menu.opened {
    height: auto;
}
.show_all_bottom_menu {
    margin-bottom: 20px;
    display: block;
    border-bottom: 1px dashed;
    width: max-content;
    cursor: pointer;
    font-weight: bold;
}